VITE_CTP_AUTH_URL=https://auth.us-central1.gcp.commercetools.com
VITE_CTP_API_URL=https://api.us-central1.gcp.commercetools.com
VITE_CTP_SESSION_URL=https://session.us-central1.gcp.commercetools.com
VITE_CTP_CLIENT_ID=u1_j8GrAS-zRYuM7MU1__ygL
VITE_CTP_CLIENT_SECRET=RyrSCzGkGXzzLEGIPcN3tBpNkX_RVTDa
VITE_CTP_PROJECT_KEY=fujifilm-gmsb-global-dev
VITE_PROCESSOR_URL=http://localhost:8080
